@import "../utils/variables";

.footer__studio {
  font-family: map-get($fonts, "second");
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: map-get($colors, "primary");
  text-decoration: none;

  .footer__studio--span {
    color: map-get($colors, "hover");
  }
}

.footer__adres {
  font-family: map-get($fonts, "first");
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: map-get($colors, "primary");
}

.footer-item__link {
  @extend .footer__adres;
  color: #ffffff99;

  &:hover,
  &:focus {
    color: map-get($colors, "hover");
  }
}

@media screen and (min-width: 480px) {
  .footer__studio {
    font-size: 24px;
    line-height: 1.1;
    margin-bottom: 20px;
    margin-top: -40px;
  }
}

@media screen and (min-width: 768px) {

  .footer__studio {
    font-size: 24px;
    line-height: 1.1;
    margin-top: -40px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__studio {
    font-size: 26px;
    line-height: 1.2;
    margin-top: 10px;
  }

  .footer-item{
    margin-bottom: -40px;
  }
}
