@import "../utils/variables";

.background-block {
  background-color: map-get($colors, "primary");
  margin-bottom: -44px;
}

.description {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin-top: -90px;
}

.description__list {
  margin-top: 50px;
}

.description__icon {
  background-color: map-get($colors, "block");
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text-color($color) {
  color: $color;
}

@mixin text($font) {
  font-family: $font;
}

.description__list-paragraph {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  @include text(map-get($fonts, "first"));
  @include text-color(map-get($colors, "first"));
}

.description__list-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  @include text(map-get($fonts, "first"));
  @include text-color(map-get($colors, "second"));
}

@media screen and (min-width: 480px) {
  .background-block {
    background-color: map-get($colors, "primary");
    margin-bottom: -44px;
  }

  .description {
    display: block;
    margin-left: -30px;

    .description__icon {
      width: 450px;
      height: 120px;
    }

    .description__list-paragraph {
      width: 450px;
      margin-top: 30px;
      text-align: center;
    }

    .description__list-text {
      width: 450px;
      margin-bottom: -20px;
    }
  }
}

@media screen and (min-width: 768px) {
  .description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -50px;
    margin-right: -80px;

    .description__icon {
      width: 354px;
      height: 120px;
      margin-right: 20px;
    }

    .description__list-paragraph {
      width: 354px;
      text-align: left;
    }

    .description__list-text {
      width: 354px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .background-block {
    background-color: map-get($colors, "primary");
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .description {
    display: inline-flex;
    margin-left: -35px;

    .description__icon {
      width: 270px;
      height: 120px;
    }

    .description__list-paragraph {
      margin-top: 30px;
      text-align: left;
      width: 270px;
    }

    .description__list-text {
      width: 270px;
    }
  }
}
