@import "../utils/variables";

.background-person {
  background-color: #f5f4fa;

  .person-heading {
    font-family: map-get($fonts, "first");
    font-weight: bold;
    letter-spacing: 0.03em;
    text-align: center;
    color: map-get($colors, "first");
  }

  .person {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin-top: 36px;
  }
}

@media screen and (min-width: 480px) {

  .person-heading {
    font-size: 28px;
    line-height: 1.1;
    margin-top: -34px;
  }
}

@media screen and (min-width: 768px) {

  .person{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -45px;
    margin-right: -45px;
  }

  .person-heading {
    font-size: 28px;
    line-height: 1.1;
    margin-top: -34px;
  }
}

@media screen and (min-width: 1200px) {

  .person-heading {
    font-size: 36px;
    line-height: 1.1;
  }
}