@import "../utils/variables";

.background-hero {
  background: linear-gradient(
    to right,
    #2f303a 50%,
    map-get($colors, "primary")
  );
  background-image: url("../images/img/bg-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.background-hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-hero-text__heading {
  font-family: map-get($fonts, "first");
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-align: center;
  color: map-get($colors, "primary");
  margin: 0;
}

.background-hero-text__button-open {
  font-family: map-get($fonts, "first");
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  background-color: map-get($colors, "hover");
  color: #ffffff;
  width: 200px;
  height: 50px;
  border: 1px solid map-get($colors, "hover");
  border-radius: 5px;
  margin-top: 30px;

  &:hover {
    cursor: pointer;
  }
}

@media screen and (min-width: 480px) {
  .background-hero {
    background: linear-gradient(
      to right,
      #2f303a 50%,
      map-get($colors, "primary")
    );
    background-image: url("../images/img/bg-hero-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .background-hero {
      background-image: url("../images/img/bg-hero-mobile@2x.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  @media screen and (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .background-hero {
      background-image: url("../images/img/bg-hero-mobile@3x.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .background-hero-text__heading {
    font-size: 24px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 768px) {

  .background-hero {
    background: linear-gradient(
      to right,
      #2f303a 50%,
      map-get($colors, "primary")
    );
    background-image: url("../images/img/bg-hero-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .background-hero {
      background-image: url("../images/img/bg-hero-tablet@2x.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .background-hero {
      background-image: url("../images/img/bg-hero-tablet@3x.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .background-hero-text__heading {
    font-size: 26px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 1200px) {
  .background-hero {
    background: linear-gradient(
      to right,
      #2f303a 50%,
      map-get($colors, "primary")
    );
    background-image: url("../images/img/bg-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .background-hero {
      background-image: url("../images/img/bg-hero@2x.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .background-hero {
      background-image: url("../images/img/bg-hero@3x.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .background-hero-text__heading {
    padding: 94px 0px;
    font-size: 44px;
    line-height: 1.3;
  }
}
