@import "../utils/variables";

.background-contact {
  background-color: #191c26;
  height: 644px;
  opacity: 0.6;
}

.background-contact__img {
  background-image: url(../../images/img/tlo-footer.jpg);
  background-repeat: no-repeat;
  background-position: right;
  height: 644px;
}

.contact-form,
.contact-text {
  display: inline-flex;
  flex-direction: column;
}

.background-footer {
  height: 127px;
  background-color: map-get($colors, "block");
  display: flex;
  align-items: center;

  .footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}