@import "../utils/variables";

.background-hero {
  height: 705px;
  background-color: map-get($colors, "primary");
  display: flex;
  align-items: center;
  flex-direction: row;
}

.hero-img {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;

  .hero-img__broda {
    width: 270px;
    height: 445px;
    margin-left: 55px;
  }

  .hero-img__glowa {
    width: 270px;
    height: 445px;
    margin-left: 30px;
  }
}
