@import "../utils/variables";

.menu{
    height: 680px;
    background-color: map-get($colors, "primary");
}

.background-nav{
    background-image: url(../../images/img/tlo.jpg);
    -moz-image-rect: url(../../images/img/tlo.jpg);
    height: 680px;
    background-repeat: no-repeat;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}