@import "../utils/variables";

.barber-men {
  display: flex;
  flex-direction: column;
  margin-right: 30px;

  .barber-men__person {
    font-family: map-get($fonts, "first");
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
    text-align: center;
    color: map-get($colors, "first");
    margin-top: 30px;
  }

  .barber-men__profession {
    @extend .barber-men__person;
    font-size: 14px;
    line-height: 19px;
    color: map-get($colors, "hover");
    margin-top: 8px;
  }

  .barber-men__icon {
    width: 44px;
    height: 44px;
    background-color: map-get($colors, "primary");
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-right: 10px;

    &:hover {
      fill: map-get($colors, "hover");
    }
  }
}
