@import "../utils/variables";

.barba-text__line {
  background-color: map-get($colors, "first");
  width: 60px;
  height: 1px;
  margin-top: 138px;
  margin-left: 55px;
}

.barba-text__title {
  font-family: map-get($fonts, "first");
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: map-get($colors, "first");
  margin-top: 130px;
  margin-left: 20px;
}

.barba-list-img {
  width: 270px;
  height: 360px;
  margin-right: 30px;
}