@import "../utils/variables";

.contact-text__heading {
  font-family: map-get($fonts, "second");
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: map-get($colors, "primary");
  margin-left: 150px;
}

.contact-text__place {
  font-family: map-get($fonts, "first");
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: map-get($colors, "second");
  margin-right: 25px;

  .contact-text__place--svg,
  .contact-text__phone--svg,
  .contact-text__mail--svg {
    margin-left: 150px;
  }

  .contact-text__place--adres {
    margin-left: 200px;
    margin-top: 5px;
  }
}

.contact-text__phone {
  @extend .contact-text__place;
  text-decoration: none;
  margin-right: 25px;

  &:hover {
    color: map-get($colors, "hover");
    fill: map-get($colors, "hover");
  }
}

.contact-text__mail {
  @extend .contact-text__place;
  text-decoration: underline;
  margin-right: 25px;
  margin-top: 10px;

  &:hover {
    color: map-get($colors, "hover");
    fill: map-get($colors, "hover");
  }
}

.contact-text__line {
  width: 60px;
  height: 1px;
  background-color: map-get($colors, "second");
  margin-left: 150px;
  margin-top: 90px;
}

.contact-text__title {
  font-family: map-get($fonts, "first");
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: map-get($colors, "primary");
  margin-left: 230px;
  margin-top: -8px;
}

.contact-text__time {
  font-family: map-get($fonts, "first");
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: map-get($colors, "second");
  margin-left: 150px;
  margin-top: 20px;
}
