@import "../utils/variables";

.contact-form__heading {
  font-family: map-get($fonts, "second");
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: map-get($colors, "primary");
  margin-left: 56px;
  margin-top: 130px;
}

.contact-form__text {
  font-family: map-get($fonts, "first");
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: map-get($colors, "second");
  display: flex;
  flex-direction: column;
  margin-left: 55px;

  &:focus,
  &:hover {
    color: map-get($colors, "primary");
    cursor: pointer;
  }

  .contact-form__line {
    margin-left: -5px;
  }
}

.contact-form__text--tel {
  margin-top: -36px;
  margin-left: 355px;
  display: flex;
  flex-direction: column;

  .contact-form__line--tel {
    margin-left: 2px;
  }
}

.contact-form__text--message {
  margin-top: 44px;
  display: flex;
  flex-direction: column;

  .contact-form__line--message {
    margin-left: -2px;
    margin-top: 60px;
  }
}

.contact-form__letter {
  background-color: transparent;
  border: 1px solid transparent;
  padding-left: 5px;

  &:focus,
  &:hover {
    color: map-get($colors, "primary");
    outline: none;
    cursor: pointer;
  }
}

.contact-form__letter:hover + .contact-form__line,
.contact-form__letter:focus + .contact-form__line {
  fill: map-get($colors, "primary");
}

.contact-form__button {
  font-family: map-get($fonts, "first");
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: map-get($colors, "primary");
  width: 160px;
  height: 40px;
  background-color: transparent;
  border: 1px solid map-get($colors, "hover");
  border-radius: 25px;
  margin-top: 44px;
  margin-left: 55px;

  &:hover{
    color: map-get($colors, "hover");
    cursor: pointer;
  }
}
