@import "../utils/variables";

.footer-text {
  font-family: map-get($fonts, "first");
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  color: map-get($colors, "second");
  margin-left: 55px;
}

.footer-text__line {
  width: 60px;
  height: 1px;
  background-color: map-get($colors, "first");
  margin-top: 8px;
  margin-left: 750px;
}

.footer-text__link {
  font-family: map-get($fonts, "first");
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  color: map-get($colors, "first");
  text-decoration: none;

  &:hover {
    color: map-get($colors, "hover");
  }
}
