@import "../utils/variables";

.hero {
  display: flex;
  flex-direction: column;

  .hero__line {
    width: 60px;
    height: 1px;
    background-color: map-get($colors, "first");
    margin-left: 64px;
    margin-top: 10px;
  }

  .hero__letter {
    font-family: map-get($fonts, "first");
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    width: 40px;
    margin-left: 144px;
    margin-top: -9px;
  }

  .hero__heading {
    font-family: map-get($fonts, "second");
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.05em;
    color: map-get($colors, "first");
    margin-left: 64px;
    margin-top: 20px;
  }

  .hero__text {
    font-family: map-get($fonts, "first");
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: map-get($colors, "text");
    margin-top: -15px;
    margin-left: 64px;
  }

  .hero__text-two {
    @extend .hero__text;
    font-size: 14px;
    line-height: 26px;
    margin-top: 10px;
  }
}

.hero__button {
  @extend .nav-menu__button;
  color: map-get($colors, "first");
  margin-left: 64px;
  margin-top: 10px;

  &:hover {
    color: map-get($colors, "primary");
  }
}