@import "../utils/variables";

.menu-bok {
  width: 155px;
  height: 680px;
  background-color: map-get($colors, "primary");
  margin-left: -35px;
  display: flex;
  flex-direction: column;
  float: inline-start;

  .menu-bok__logo {
    width: 68px;
    height: 55px;
    padding-top: 32px;
    padding-left: 45px;
  }

  .menu-bok__line {
    width: 1px;
    height: 60px;
    background-color: map-get($colors, "first");
    margin-top: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

.menu-bok__link {
    font-family: map-get($fonts, "first");
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.2em;
    color: map-get($colors, "first");
    text-decoration: none;
    transform: rotate(-90deg);
    margin-right: 5px;
    margin-top: -200px;

    &:hover{
        color: map-get($colors, "hover");
    }
  }

  .menu-bok__link-two {
    @extend .menu-bok__link;
    margin-top: -150px;
  }