@import "../utils/variables";

.okno-modal__text {
  font-family: map-get($fonts, "first");
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  color: map-get($colors, "first");
  margin: 5px auto;
}

.text-form {
  font-family: map-get($fonts, "first");
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: map-get($colors, "second");
  margin-top: 12px;
  display: flex;
  flex-direction: column;

  .text-form__input {
    width: 405px;
    height: 35px;
    border: 1px solid #21212133;
    border-radius: 4px;
    margin-top: 4px;
    padding-left: 40px;
    margin-right: 40px;
  }

  .text-form__person {
    position: absolute;
    left: 55px;
    top: 114px;
  }

  .text-form__tel {
    @extend .text-form__person;
    top: 182px;
  }

  .text-form__mail {
    @extend .text-form__person;
    top: 250px;
  }

  .text-form__coment {
    font-family: map-get($fonts, "first");
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.0;
    letter-spacing: 0.01em;
    color: #75757580;
    width: 430px;
    height: 108px;
    resize: none;
    border: 1px solid #21212133;
    border-radius: 4px;
    margin-top: 4px;
    padding-top: 12px;
    padding-left: 16px;
  }
}

.text-form__input:focus + .text-form__person,
.text-form__input:focus + .text-form__tel,
.text-form__input:focus + .text-form__mail {
  fill: map-get($colors, "hover");
}

.text-form__input:focus,
.text-form__coment:focus {
  border: 1px solid map-get($colors, "hover");
  border-radius: 4px;
  outline: none;
}

.text-form__accept {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;

  &:checked + .text-form__accept-text::before {
    background-color: map-get($colors, "hover");
    border: 0px solid map-get($colors, "primary");
    background-image: url(../../images/img_vector/fajka.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.text-form__accept-text {
  font-family: map-get($fonts, "first");
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: map-get($colors, "second");
  position: absolute;
  left: 60px;
  top: 440px;

  &::before {
    display: inline-block;
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid map-get($colors, "first");
    position: relative;
    top: 2px;
    right: 7px;
  }
}

.text-from__accept-span {
  color: map-get($colors, "hover");
  text-decoration: underline;
}

.text-form__button-modal {
  font-family: map-get($fonts, "first");
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: map-get($colors, "primary");
  width: 200px;
  height: 50px;
  background-color: map-get($colors, "hover");
  border: 1px solid map-get($colors, "hover");
  border-radius: 4px;
  margin-right: 165px;
  margin-top: 85px;
  cursor: pointer;
}
