@import "../utils/variables";

.nav-text{
  display: flex;
  flex-direction: column;
}

.nav-text__line {
  width: 60px;
  height: 1px;
  background-color: #9da4bd99;
  margin-top: 170px;
  margin-left: 100px;
}

.nav-text__letter {
  font-family: map-get($colors, "first");
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #9da4bd99;
  margin-left: 190px;
  margin-top: -9px;
}

.nav-text__heading {
  font-family: map-get($fonts, "second");
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 85px;
  letter-spacing: 0.05em;
  color: map-get($colors, "primary");
  margin-top: 20px;
  margin-left: 100px;

  .nav-text__description {
    font-family: map-get($fonts, "first");
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: map-get($colors, "second");
    margin-top: 20px;
  }
}