@import "../utils/variables";

.services__line {
  width: 60px;
  height: 1px;
  background-color: map-get($colors, "text-2");
  margin-top: 137px;
  margin-left: 15px;
}

.services__letter {
  font-family: map-get($fonts, "first");
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: map-get($colors, "text-2");
  margin-top: -9px;
  margin-left: 95px;
}

.services__title {
  font-family: map-get($fonts, "second");
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: map-get($colors, "primary");
  margin-left: 15px;
  margin-top: 20px;
}

.services__button {
  font-family: map-get($fonts, "first");
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: map-get($colors, "primary");
  background-color: transparent;
  width: 160px;
  height: 40px;
  border: 1px solid map-get($colors, "hover");
  border-radius: 25px;
  margin-left: 565px;
  margin-top: 35px;

  &:hover{
    cursor: pointer;
    background-color: map-get($colors, "hover");
  }
}
